@keyframes Universe-Rotation {
    100% {
      transform: rotate(360deg);
    }
}

@keyframes first-orbit{
  0% {
    transform: translate(-125vw, 30vh);
  }
  100% {
    transform: translate(125vw, 5vh);
  }
}
@keyframes second-orbit{
  0% {
    transform: translate(-125vw, 25vh);
  }
  100% {
    transform: translate(125vw, 0vh);
  }
}
@keyframes third-orbit{
  0% {
    transform: translate(-125vw, 15vh);
  }
  100% {
    transform: translate(125vw, -5vh);
  }
}
@keyframes fourth-orbit{
  0% {
    transform: translate(-125vw, 10vh);
  }
  100% {
    transform: translate(125vw, -10vh);
  }

  }

@keyframes flickerEffect {
    0% {
      opacity: var(--opacity-start);
      width: 95%;
        height: 80%;
    }
    10% {
      opacity: var(--opacity-end);
      width: 91%;
      height: 76%;
    }
    20% {
      opacity: var(--opacity-mid);
      width: 93%;
        height: 78%;
    }
    30% {
      opacity: var(--opacity-end);
      width: 91%;
      height: 76%;
    }
    40% {
      opacity: var(--opacity-start);
      width: 95%;
        height: 80%;
    }
    50% {
      opacity: var(--opacity-mid);
      width: 95%;
        height: 80%;
    }
    60% {
      opacity: var(--opacity-end);
      width: 93%;
      height: 78%;
    }
    70% {
      opacity: var(--opacity-start);
      width: 95%;
        height: 80%;
    }
    80% {
      opacity: var(--opacity-mid);
      width: 93%;
        height: 78%;
    }
    90% {
      opacity: var(--opacity-end);
      width: 91%;
      height: 76%;
    }
    100% {
      opacity: var(--opacity-start);
      width: 95%;
        height: 80%;
    }
  }
  @keyframes EskerRock {
    0% {
        transform: scalex(-1) rotate(-25deg);
    }
    50% {
      transform: scalex(-1) rotate(-21deg);
    }
    100% {
        transform: scalex(-1) rotate(-25deg);
    }
  }