@keyframes Universe-Rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
 
  @keyframes animateEven 
  {
    0% 
    {
    transform: translate(0,2rem) scale(1);
    opacity: 1;
    filter: blur(5px);
    }
    100% 
    {
    transform: translate(25px,-130px) scale(3);
    opacity: 0;
    filter: blur(10px);
    }

  }
  @keyframes animateOdd 
  {
    0% 
    {
    transform: translate(0,2rem) scale(1);
    opacity: 1;
    filter: blur(5px);
    }
    100% 
    {
    transform: translate(-25px,-130px) scale(3);
    opacity: 0;
    filter: blur(10px);
    }

  }
  
  @keyframes flameodd {
    0%, 100% {
      width: 0%;
      height: 0%;
    }
    25% {
      width: 100%;
      height: 100%;
    }
    0% {
      background-color: #FFDC01;
      z-index: 1000000;
    }
    40% {
      background-color: #FDAC01;
      z-index: 1000000;
    }
    100% {
      background-color: #F73B01;
      z-index: -10;
    }
    0% {
      right: 0%;
      bottom: 0%;
    }
    25% {
      right: 1%;
      bottom: 2%;
    }
    100% {
      right: 130%;
      bottom: 170%;
    }
  }
  
  @keyframes flameeven {
    0%, 100% {
      width: 0%;
      height: 0%;
    }
    25% {
      width: 100%;
      height: 100%;
    }
    0% {
      background-color: #FFDC01;
      z-index: 1000000;
    }
    40% {
      background-color: #FDAC01;
      z-index: 1000000;
    }
    100% {
      background-color: #F73B01;
    }
}



@keyframes flickerEffect {
    0% {
      opacity: var(--opacity-start);
      width: 95%;
        height: 95%;
    }
    10% {
      opacity: var(--opacity-end);
      width: 91%;
      height: 91%;
    }
    20% {
      opacity: var(--opacity-mid);
      width: 93%;
        height: 93%;
    }
    30% {
      opacity: var(--opacity-end);
      width: 91%;
      height: 91%;
    }
    40% {
      opacity: var(--opacity-start);
      width: 95%;
        height: 95%;
    }
    50% {
      opacity: var(--opacity-mid);
      width: 95%;
        height: 95%;
    }
    60% {
      opacity: var(--opacity-end);
      width: 93%;
      height: 93%;
    }
    70% {
      opacity: var(--opacity-start);
      width: 95%;
        height: 95%;
    }
    80% {
      opacity: var(--opacity-mid);
      width: 93%;
        height: 93%;
    }
    90% {
      opacity: var(--opacity-end);
      width: 91%;
      height: 91%;
    }
    100% {
      opacity: var(--opacity-start);
      width: 95%;
        height: 95%;
    }
  }
  @keyframes EskerRock {
    0% {
        transform: scalex(-1) rotate(-18deg);
    }
    5% {
        transform: scalex(-1) rotate(-19deg);
    }
    10% {
        transform: scalex(-1) rotate(-20deg);
    }
    15% {
        transform: scalex(-1) rotate(-21deg);
    }
    20% {
        transform: scalex(-1) rotate(-22deg);
    }
    25% {
        transform: scalex(-1) rotate(-23deg);
    }
    30% {
        transform: scalex(-1) rotate(-24deg);
    }
    35% {
        transform: scalex(-1) rotate(-25deg);
    }
    40% {
        transform: scalex(-1) rotate(-25deg);
    }
    45% {
        transform: scalex(-1) rotate(-26deg);
    }
    50% {
        transform: scalex(-1) rotate(-26deg);
    }
    55% {
        transform: scalex(-1) rotate(-26deg);
    }
    60% {
        transform: scalex(-1) rotate(-25deg);
    }
    65% {
        transform: scalex(-1) rotate(-24deg);
    }
    70% {
        transform: scalex(-1) rotate(-23deg);
    }
    75% {
        transform: scalex(-1) rotate(-22deg);
    }
    80% {
        transform: scalex(-1) rotate(-21deg);
    }
    85% {
        transform: scalex(-1) rotate(-20deg);
    }
    90% {
        transform: scalex(-1) rotate(-19deg);
    }
    95% {
        transform: scalex(-1) rotate(-18deg);
    }
    100% {
        transform: scalex(-1) rotate(-17deg);
    }
  }