
@import url("mobile.css");
 @import url('tablet.css');
@import url('desktop.css');
@import 'animations.css';
@font-face {
  font-family: space-mono-regular;
  src: url(/public/fonts/SpaceMono-Regular.woff);
}
@font-face {
  font-family: space-mono-bold;
  src: url(/public/fonts/SpaceMono-Bold.woff);
}
@font-face {
  font-family: wilds;
  src: url(/public/fonts/itc-serif-gothic-regular-588cef4e7134b.woff);
}
@font-face {
  font-family: chalk;
  src: url(/public/fonts/EraserRegular.woff);
}

.motion {
  width: 100%;
  height: 100%;
}

:root {
  --primary-color: #E57A1B; /* Replace with your desired color value */
  --column: repeat(8, 1fr);
  --row: repeat(8, 1fr);
}
html {
   background-color: #000000; 
}
a {
  text-decoration: none;
}
.url  {
  width: 100%;
  height: 10vh;
  border-bottom: 2px solid white;
  background-color: white;
  opacity: 40%;
  
}

html, body, {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}